<?xml version="1.0"?>
<model>
  <name>Reefscape Coral Station</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>Woodward Spivey</name>
    <email>woodyspivey@gmail.com</email>
  </author>
  <description>
    2025 FRC Reefscape Coral Station
  </description>
</model>
