<robot name="g2_2025">
    <link name="chassis">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://g2_description/meshes/Chassis.dae" scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <link name="intake" />
    <link name="intake_end_effector" />
    <link name="intake_compliant_wheels_left" />
    <link name="intake_compliant_wheels_right" />

    <link name="shooter_dif_ring" />
    <link name="shooter_body" />

    <link name="shooter_compliant_wheel_1" />
    <link name="shooter_compliant_wheel_2" />
    <link name="shooter_compliant_wheel_3" />
    <link name="shooter_compliant_wheel_feeder" />

    <link name="swerve_axel_front_left" />
    <link name="swerve_wheel_front_left" />

    <link name="swerve_axel_front_right" />
    <link name="swerve_wheel_front_right" />

    <link name="swerve_axel_back_left" />
    <link name="swerve_wheel_back_left" />

    <link name="swerve_axel_back_right" />
    <link name="swerve_wheel_back_right" />

    <joint name="linear_actuators" type="prismatic">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="intake"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="intake_pivot" type="revolute">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="intake"/>
        <child link="intake_end_effector"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="intake_left" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="intake_end_effector"/>
        <child link="intake_compliant_wheels_left"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="intake_right" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="intake_end_effector"/>
        <child link="intake_compliant_wheels_right"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="shooter_dif_ring" type="revolute">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="shooter_dif_ring"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="shooter_body" type="revolute">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="shooter_dif_ring"/>
        <child link="shooter_body"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="shooter_compliant_wheel_1" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="shooter_body"/>
        <child link="shooter_compliant_wheel_1"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="shooter_compliant_wheel_2" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="shooter_body"/>
        <child link="shooter_compliant_wheel_2"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="shooter_compliant_wheel_3" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="shooter_body"/>
        <child link="shooter_compliant_wheel_3"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="shooter_compliant_wheel_feeder" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="shooter_body"/>
        <child link="shooter_compliant_wheel_feeder"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_axel_front_left" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="swerve_axel_front_left"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_wheel_front_left" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="swerve_axel_front_left"/>
        <child link="swerve_wheel_front_left"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_axel_front_right" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="swerve_axel_front_right"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_wheel_front_right" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="swerve_axel_front_right"/>
        <child link="swerve_wheel_front_right"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_axel_back_left" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="swerve_axel_back_left"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_wheel_back_left" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="swerve_axel_back_left"/>
        <child link="swerve_wheel_back_left"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_axel_back_right" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chassis"/>
        <child link="swerve_axel_back_right"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>

    <joint name="swerve_wheel_back_right" type="continuous">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="swerve_axel_back_right"/>
        <child link="swerve_wheel_back_right"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>
</robot>